#body {
    background-color: #fdfdfd;
    /* blanc */
    font-family: poppins;
    margin: 0;
    padding: 0;
}

#nav {
    background-color: #B8860B;
    /* or */
    color: #FFFFFF;
    height: 90px;
    padding: 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}




#nav img {
    height: 70px;
    width: 70px;
    margin-top: 5px;
    margin-left: 15px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#aside {
    width: 250px;
    height: 1200px;
    background-color: #000000;
    color: #FFFFFF;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#aside>nav>li>button {
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    width: 200px;
    text-align: left;
}

#nav-aside {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width: 100%;
}

#nav-aside li {
    width: 100%;
    text-align: left;
}

#nav-aside li a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    transition: 0.3s;
}

#nav-aside li a i {
    margin-right: 10px;
}

#nav-aside li a:hover {
    background-color: #444;
}

/*SECTION*/
#section {
    margin-left: 250px;
    height: 1200px;
    width: calc(100% - 250px);
    background: #FAF9F6;
    color: #000000;
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 20px;
    transition: margin-left 0.3s;
    /* Optional: smooth transition when changing content */
}

/*HISTORIQUE*/
.historique {
         justify-content: center;
         margin-top: 20px;
}